* {
  padding: 0px;
  margin: 0px;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  background-image: url("https://i.imgur.com/acIK6oT.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/* home screen */
#home-screen {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-box {
  width: 600px;
  min-height: 340px;
  border: 1px solid;
  border-radius: 20px;
  background-color: aliceblue;
  font-family: Arial, sans-serif;
}

#form-box input {
  height: 25px;
  border: thin solid #252929;
  border-radius: 2px;
}

.home-br {
  display: none;
}

.home-input-block {
  display: flex;
  justify-content: space-around;
}

#form-box label {
  font-size: 14px;
  font-weight: 700;
  margin-top: 3px;
  margin-bottom: 2px;
}

.home-input {
  width: 280px;
  height: 65px;
  margin-bottom: 1px;
}

.home-media-input {
  width: 90%;
}

#form-box small {
  color: #3e588c;
}

#date-check {
  display: inline;
  width: 78px;
  height: 24px;
  border-radius: 3px;
  font-size: 13px;
  background-color: #adc8d9;
}

#home-err-message {
  text-align: center;
  color: red;
}

.formBtn {
  width: 130px;
  height: 35px;
  border-radius: 5px;
  background-color: #4da2ad;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  margin-top: 15px;
}

@media (max-width: 650px) {
  #form-box {
    width: 90vw;
    height: auto;
  }

  #form-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-input {
    display: block;
    max-width: 100%;
    height: 65px;
    padding: 1px;
  }

  .home-br {
    display: static;
  }

  .home-input-block {
    display: block;
  }
  #home-dateD {
    height: auto;
    margin-bottom: 13px;
  }
}

/* confirmation screen*/
#confirmation-screen {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#confirm-display {
  width: 600px;
  min-height: 350px;
  background-color: aliceblue;
  border: 1px solid;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}

#confirmed-back-to-home {
  width: 100%;
  text-align: end;
  margin: 0 100px 0 0;
}

.booked-content p {
  white-space: pre-wrap;
}

@media (max-width: 650px) {
  #confirm-display {
    width: 90%;
    min-height: 350px;
  }

  #confirm-title h2 {
    font-size: 25px;
  }

  #confirmed-back-to-home {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}

/* check screen */

#check-screen {
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding: 0;
}

#check-display {
  width: 600px;
  min-height: 330px;
  background-color: aliceblue;
  border: 1px solid;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  font-weight: 500;
}

#check-title {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#check-line {
  font-size: 30px;
  margin-right: 5px;
}

#check-screen #check-title i {
  font-size: 30px;
}

#check-display label {
  font-size: 14px;
  margin: 10px 0 0 0;
  font-weight: 600;
}

#check-display input {
  height: 25px;
  width: 90%;
  border: thin solid #252929;
  border-radius: 2px;
}

#check-screen .forms-column .forms {
  width: 280px;
}

#check-screen-email {
  margin-left: 15px;
}

#check-screen h5 {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  color: red;
}

#check-btn {
  width: 130px;
  height: 35px;
  border-radius: 5px;
  background-color: #4da2ad;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

#check-links {
  width: 100%;
}

#check-submit {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#check-back {
  text-align: end;
  margin: 20px 35px 10px auto;
}

#check-back i {
  font-size: 40px;
}

@media (max-width: 650px) {
  #check-display {
    width: 90%;
    min-height: 350px;
  }

  #check-line {
    font-size: 23px;
    margin-right: 5px;
    margin-top: 10px;
  }

  #check-title i {
    font-size: 23px;
  }

  #check-screen .forms-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #check-screen .forms {
    width: 100%;
  }

  #check-display #check-screen-email {
    max-width: 280px;
  }

  #check-screen-email {
    margin: auto;
  }

  .emailVal {
    width: 250px;
  }

  #check-back i {
    font-size: 30px;
    margin-right: 7px;
  }
}

/* booked screen*/
#booked-screen {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

#booked-display {
  width: 600px;
  min-height: 330px;
  margin: 30px auto;
  background-color: aliceblue;
  border: 1px solid;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  font-weight: 500;
}

.booked-txt {
  font-weight: 500;
  margin: 10px 0 0 150px;
}

.booking-line {
  width: 100%;
  height: 35px;
  font-size: 17px;
  margin-top: 18px;
  text-align: end;
}

.booking-time {
  margin-right: 30px;
}

.booking-delete {
  margin-right: 170px;
  margin-top: 3px;
}

@media (max-width: 650px) {
  #booked-display {
    width: 90%;
    min-height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #booked-display h2 {
    font-size: 25px;
  }

  .booked-txt {
    font-weight: 500;
    margin: 10px 0 0 0;
  }

  .booking-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .booking-time {
    margin-right: 20px;
  }

  .booking-delete {
    margin-top: 3px;
    margin-right: 0;
  }

  #booked-back {
    width: 100%;
  }
}
