<div id="check-screen">
    <div id="check-display">
        <div id="check-title">
            <p id="check-line">Check your booking</p>
            <i class="fas fa-search"></i>
        </div>
        <form action="/booking/booked" method="GET">
            <div class="forms-column" style="width: 100%; display: flex; justify-content: space-evenly">
                <div id="firstNameD" class="forms">
                    <label for="firstName">First Name</label>
                    <br />
                    <input type="text" name="firstName" id="firstName" placeholder="First Name" style=" text-transform: capitalize;" required />
                    <div style="display: none">{{employee.fullNameError}}</div>
                </div>
                <div id="lastNameD" class="forms">
                    <label for="lastName">Last Name</label>
                    <br />
                    <input type="text" name="lastName" id="lastName" placeholder="Last Name" style=" text-transform: capitalize;" required />
                    <div style="display: none">{{employee.fullNameError}}</div>
                </div>
            </div>

        <div id="check-screen-email" class="forms">
            <label for="email">Email</label>
            <br />
            <div id="check-email-box">
                <input type="email" name="email" id="email" class="emailVal" placeholder="email" required />
            </div>
        </div>
        
        <h5>{{errMessage}}</h5>
        
            <div id="check-links">
                <div id="check-submit">
                    <button id="check-btn" type="submit"><i class="fa fa-search"></i>Check</button>
                </div>

                <div class="back-to-home" id="check-back">
                    <a href="/booking"><i class="fas fa-home" aria-hidden="true"></i></a>
                    <p style="margin: 0 -7px 0  0; font-size: 13px;"><small>back to home</small></p>
                </div>
            </div>
        
        </form>
    </div>
</div>