<div id="home-screen">

      <!-- Form -->
      <div id="form-box">
        <h1 id="form-title" style="font-size: 30px; margin: 15px; text-align: center">Booking Form</h1>

        <form action="/" method="POST">
          <div class="home-input-block">

            <div id="firstNameD" class="home-input">
              <label for="firstName">First Name <small>required</small></label>
              <input class="home-media-input" type="text" name="firstName" id="firstName" placeholder="First Name" style=" text-transform: capitalize;" />
            </div>

            <br class="home-br">
            <div id="lastNameD" class="home-input">
              <label for="lastName">Last Name <small> required</small></label>              
              <input class="home-media-input" type="text" name="lastName" id="lastName" placeholder="Last Name" style=" text-transform: capitalize;" />
            </div>

          </div>

          <div  class="home-input-block">

            <div id="emailD" class="home-input">
              <label for="email">Email <small> required</small></label>              
              <input class="home-media-input" type="text" name="email" id="email" placeholder="email"  />
            </div>
   
            <br class="home-br">
            <div id="phoneD" class="home-input">
              <label for="phone">Phone</label>                            
              <input class="home-media-input" type="text" name="phone" id="phone" placeholder="Phone" />
            </div>

          </div>

          <div  class="home-input-block">

            <div id="home-dateD" class="home-input">
              <label for="selectedDate" style="display: block;">Date <small> required</small></label>
              
              <div id="dateD-align">
                <input type="date" name="selectedDate" id="selectedDate" placeholder="Date" style="width: 60%;" />
                <button id="date-check" type="submit" formaction="/datecheck" formmethod="GET" >Check<i class="far fa-calendar-check"></i></button>
              </div>
            </div>

            <br class="home-br">
            <div id="timeD" class="home-input">
              <label for="selectedTime">Time <small> required</small></label>
              <br />
              <select name="selectedTime" id="selectedTime" placeholder="Time" style="width: 50%; font-weight: 500;"></select>
            </div>

          </div>

          <div id="availableApp">             
             <p style="margin: 20px 30px; font-size: 14px;">{{availableTime}}</p>
          </div>

          <div id="home-err-message">{{homeError}}</div>

          <div style="margin-top: 5px; display: flex; flex-direction: column; align-items: center;">
            <button id="homeBtn" class="formBtn" type="submit">
              <i class="fa fa-database"></i>Submit</button>
            
            <a id="modify-link" href="/check" style="font-weight: 600; font-size: 13px; margin: 5px 0;"
              ><i class="fa fa-list-alt"></i> View or Cancel your booking</a>
          </div>

        </form>
      </div>      
    </div>

    

